<header>
    <nav class="header-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <h1 class="header-title">Blog Articles</h1>
    </nav>
</header>
