<div class="container">
    <h1>About</h1>
    <p>This Blog created by <span>Zakaria Moslim</span> with Nodejs , Express , MongoDb Technology</p>
    <p>For more information about me please visit my  <a href="https://zakmos.github.io"target="_blank" >website</a></p>
    <p>or contact me by<a href="mailto:z.zza@hotmail.com?subject=feedback">email</a></p>
</div>